<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png"> 
        <link rel="stylesheet" href="/css/style.css"> 
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> This site was created by Abhishek Srivastava. It uses data from mapbox.com and weatherstack.com!!</p>
            <img class= "potrait" src="/img/logo_oz-india.jpg"> 
            <p>{{title}}</p>  
        </div>
        {{>footer}}
    </body>
</html>